# Sync with `libcxxext/.clang-format`.

BasedOnStyle: Microsoft

# General
# v Add this when clang-format-22 becomes more available.
# NumericLiteralCase:
#     ExponentLetter: Lower
#     HexDigit: Upper
#     Prefix: Lower
#     Suffix: Lower
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
IncludeCategories:
    - Regex: '^(<|\")(module/[^.]+\.[^.]+\.[^.]+)'
      Priority: 12
    - Regex: '^(<|")(module/[^.]+\.[^.]+)'
      Priority: 11
    - Regex: '^(<|")(module/[^.]+)'
      Priority: 10
    - Regex: '^(<|")(module/.*)'
      Priority: 13
    - Regex: ".*"
      Priority: 100

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: true
    AfterClass: true
    AfterControlStatement: Always
    AfterEnum: true
    AfterExternBlock: true
    AfterFunction: true
    AfterNamespace: true
    AfterObjCDeclaration: true
    AfterStruct: true
    AfterUnion: true
    BeforeCatch: true
    BeforeElse: true
    BeforeLambdaBody: true
    BeforeWhile: true
    IndentBraces: false
    SplitEmptyFunction: false
    SplitEmptyRecord: false

# Space Insertion
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
    AfterControlStatements: true
    AfterForeachMacros: true
    AfterFunctionDeclarationName: false
    AfterFunctionDefinitionName: false
    AfterIfMacros: true
    AfterOverloadedOperator: false
    AfterPlacementOperator: false
    AfterRequiresInClause: true
    AfterRequiresInExpression: false
    BeforeNonEmptyParentheses: false

# Spacing
ColumnLimit: 180
IndentWidth: 4
SpaceInEmptyBlock: true # Won't work for initializer lists, implement when feature is available.
PointerAlignment: Left
LambdaBodyIndentation: OuterScope
IndentPPDirectives: None
NamespaceIndentation: All
ContinuationIndentWidth: 4
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: DontAlign
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
IndentAccessModifiers: false
AccessModifierOffset: -4
BreakBeforeConceptDeclarations: Always
BreakTemplateDeclarations: Yes
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: BinPack
BinPackArguments: true
IndentCaseLabels: false
IndentCaseBlocks: true
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false

# Control Flow
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AllowShortFunctionsOnASingleLine: All

# Types
IndentRequiresClause: false
EmptyLineBeforeAccessModifier: Never
EmptyLineAfterAccessModifier: Never
