# Sync with `libcxxext/.clangd`.

CompileFlags:
    Add:
        - "-I../src"
        - "-I../libcxxext/sys"
        - "-I../libcxxext/sys.Threading"
        - "-I../libcxxext/sys.Threading/platform"
        - "-I../miniaudio"
        - -xc++
        - -std=c++26
        - --target=x86_64-w64-windows-gnu
    Remove:
        - -fconcepts-diagnostics-depth=4
    CompilationDatabase: build

Index:
    StandardLibrary: true
