[submodule "libcxxext"]
	path = libcxxext
	url = https://github.com/YellowChemistryPublishing/libcxxext.git
[submodule "FTXUI"]
	path = FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "miniaudio"]
	path = miniaudio
	url = https://github.com/mackron/miniaudio.git
